.container{
    margin-top: 10%;
    margin-left: 40%;
    margin-right:40%;
}
.numpad {
    flex-direction: column;
    background-color: #913aab;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: 214px;

    h2{
        color: #fff;
    }
  
    input {
      font-size: 18px;
      margin: 5px;
      border: none;
      background-color: #fff;
      text-align: center;
      border: 1px solid #ccc;
      border-radius: 5px;
      padding: 5px;
    }
  
    .numbers{
        padding: 10px;
    }

    .btn-num {
      font-size: 18px;
      margin:  10px 16px;
      padding: 10px;
      background-color: #fff;
      border: 1px solid #ccc;
      border-radius: 5px;
      cursor: pointer;
  
      &:hover {
        background-color: #afdb67;
      }
    }
  }

  .btn-call{
    width: 100%;
    height: 30px;
    background-color: greenyellow;
    border-radius: 5px;
    border: 1px solid #ccc;
  }

  .btn-end{
    width: 100%;
    height: 30px;
    background-color: red;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-top: 10px;
  }